<div class="container">
    <div class="mt-2 mb-2">
        <h1 i18n="garden list">{{topicText}}</h1>
        <button class="btn btn-primary" [routerLink]="['/gardens/new']" i18n="Create new garden">Create new garden</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th i18n="@@id">Id</th>
                <th i18n="@@name">Name</th>
                <th i18n="@@description">Description</th>
                <th i18n="@@edit">Edit</th>
                <th i18n="@@plants">Plants</th>
                <th i18n="@@resources">Resources</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let garden of gardens">
                <td>{{garden.id}}</td>
                <td>{{garden.name}}</td>
                <td>{{garden.description}}</td>
                <td>
                    <button class="btn btn-warning" [routerLink]="['/gardens/edit/' + garden.id]" i18n="@@edit">Edit</button>
                </td>
                <td>
                    <a [routerLink]="['/gardens/' + garden.id + '/plants']" i18n="@@plants">plants</a>
                </td>
                <td>
                    <a [routerLink]="['/gardens/' + garden.id + '/resources']" i18n="@@resources">resources</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
