<div class="container">
    <div class="m-2 mb-3">
        <h1>My Gardens</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Plants</th>
                <th>Resources</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let garden of gardens">
                <td>{{garden.id}}</td>
                <td>{{garden.name}}</td>
                <td>{{garden.description}}</td>
                <td>
                    <a [routerLink]="['/gardens/' + garden.id + '/plants']">plants</a>
                </td>
                <td>
                    <a href="">resources</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
