<div class="container">
    <div class="m-2 mb-3">
        <h1>{{topicText}}</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let action of actions">
                <td>{{action.id}}</td>
                <td>{{action.name}}</td>
                <td>{{action.date}}</td>
                <td>{{action.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
