<div class="container mt-4 text-center">
    <div class="mb-2">
        <label class="d-inline mr-5" for="name" i18n="@@name">Name</label>
        <h5 class="d-inline">{{plant.name}}</h5>
    </div>
    <div class="mb-2">
        <label class="d-inline mr-5" for="description" i18n="@@description">Description</label>
        <h5 class="d-inline">{{plant.description}}</h5>
    </div>
    <div class="mb-2">
        <label class="d-inline mr-5" for="location" i18n="@@location">Location</label>
        <h5 class="d-inline">{{plant.location}}</h5>
    </div>
    <div class="mb-2">
        <label class="d-inline mr-5" for="condition" i18n="@@condition">Condition</label>
        <h5 class="d-inline" >{{condition}}%</h5>
    </div>
</div>
