<app-navigation-bar></app-navigation-bar>

<div class="container">
    <div class="m-2 mb-3">
        <h1 i18n="@@resourceslist">Resources list</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th i18n="@@id">Id</th>
                <th i18n="@@name">Name</th>
                <th i18n="@@amount">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resource of resources">
                <td>{{resource.id}}</td>
                <td>{{resource.name}}</td>
                <td>{{resource.amount}}</td>
            </tr>
        </tbody>
    </table>
</div>
