<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Gardens</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a [routerLink]="['/users/' + user.id + '/gardens']">gardens</a>
                </td>
            </tr>
            <h1 *ngIf="!users" class="text-center mt-3">
                Users Not Found
            </h1>
        </tbody>
    </table>
</div>
