<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th i18n="@@id">Id</th>
                <th i18n="@@name">Name</th>
                <th i18n="@@email">Email</th>
                <th i18n="@@role">Role</th>
                <th i18n="@@gardens">Gardens</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a [routerLink]="['/users/' + user.id + '/gardens']" i18n="@@gardens">gardens</a>
                </td>
            </tr>
            <h1 *ngIf="!users" class="text-center mt-3" i18n="users not found">
                Users Not Found
            </h1>
        </tbody>
    </table>
</div>
