<header>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="container-fruid">
            <a [routerLink]="['']" class="navbar-brand" i18n="@@smartgarden">Smart Garden</a>
        </div>

        <ul *ngIf="isAdmin" class="navbar-nav mr-auto">
            <li  class="nav-item">
                <button class="btn btn-warning mr-2" [routerLink]="['/users']" i18n="@@users">Users</button>
            </li>
        </ul>

        <ng-template [ngIf]="isUser">
            <ul class="navbar-nav mr-1">
                <li class="nav-item">
                    <button class="btn btn-success mr-2" [routerLink]="['/gardens/my']" i18n="@@gardens">Gardens</button>
                </li>
            </ul>
            <ul class="navbar-nav mr-1">
                <li class="nav-item">
                    <button class="btn btn-warning mr-2" [routerLink]="['/plants/my']" i18n="@@plants">Plants</button>
                </li>
            </ul>
            <ul class="navbar-nav mr-1">
                <li class="nav-item">
                    <button class="btn btn-danger mr-2" [routerLink]="['/actions/my']" i18n="@@actions">Actions</button>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button class="btn btn-dark mr-2" [routerLink]="['/resources/my']" i18n="@@resources">Resources</button>
                </li>
            </ul>
        </ng-template>
        
        <div class="container-fruid pr-3 d-block">
            <div *ngIf="authService.isLoggedIn" class="d-inline">
                <button class="btn btn-info mr-2" [routerLink]="['/cabinet']" >
                    <p class="h6">{{user.email}}</p>
                </button>
            </div>
            <div *ngIf="authService.isLoggedIn" class="d-inline">
                <button class="btn btn-secondary" (click)="logout()" [routerLink]="['/login']" >
                    <p class="h6" i18n="@@logout">Logout</p>
                </button>
            </div>

            
            <div *ngIf="!authService.isLoggedIn" class="d-inline">
                <button class="btn btn-outline-secondary mr-2" [routerLink]="['/sign-up']" i18n="@@signin">Sign Up</button>
            </div>
            <div *ngIf="!authService.isLoggedIn" class="d-inline">
                <button class="btn btn-outline-secondary mr-2" [routerLink]="['/login']" i18n="@@login">Login</button>
            </div>

            <div class="dropdown" class="ml-2 d-inline">
                <button class="btn btn-warning dropdown-toggle" type="button" 
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" 
                aria-expanded="false" i18n="@@locale">
                  Locale
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="http://localhost:4200/login" class="dropdown-item text-dark">English</a>
                    <a href="http://localhost:4201/login" class="dropdown-item text-dark">Українська</a>
                </div>
            </div>
        </div>
    </nav>
</header>