<div class="container">
    <div class="mt-2 mb-2">
        <h1>{{topicText}}</h1>
        <button class="btn btn-primary" [routerLink]="['/plants/new']">Create new plant</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Actions</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plant of plants">
                <td>{{plant.id}}</td>
                <td>{{plant.name}}</td>
                <td>{{plant.description}}</td>
                <td>{{plant.location}}</td>
                <td>
                    <a [routerLink]="['/plants/' + plant.id + '/actions']">actions</a>
                </td>
                <td>
                    <button class="btn btn-warning" [routerLink]="['/plants/edit/' + plant.id]">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="onDelete(plant.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
